#main-content {
    height: 100vh;
    overflow: auto;
    filter: blur(30px); /* Aplica un desenfoque mientras el anuncio esté activo */
}

#modal-ad {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fondo negro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8000;
}

#ad-content {       
    width: 100%; /* Ajusta el ancho relativo */
    max-width: 800px; /* Ancho máximo para pantallas grandes */    
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: absolute;
    border: 2px solid #000;    
}

#ad-content img {
    width: 75%; /* La imagen ocupa todo el ancho disponible */
    height: 640px; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    padding: 20px auto;
}
@media (max-width:768px){
    #ad-content{
        width: 90%;
    }
    #ad-content img{
        width: 100%;
        height: 600px ;
    }
}

#close-ad {
    position: absolute;
    top: 5px;
    background: none;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

#close-ad:hover {
    color: red;
}
