.gallery-contain {
    top: 25px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding: 20px 0;
    height: 350px;
}

.gallery-track {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
    justify-content: center;
}

.gallery-item img {
    width: 200px ; /* Ajusta el ancho al 100% del contenedor de la galería */
    height: 100% ;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;    
}

#img-item{
    width: auto;
    height: 200px;
    object-fit: cover;
}

.gallery-item.active {
    transform: scale(1.2); 
}

@media (max-width: 768px) {
    .gallery-item {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 50%;
    }
}

.gallery-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px; 
}

.gallery-control.prev {
    left: 10px;
}

.gallery-control.next {
    right: 10px;
}

.gallery-control:hover {
    background-color: rgba(0, 0, 0, 0.8); 
}
